__pycache__/
*.py[cod]
*.so
*.egg-info/

.venv/
.env

checkpoints/
nuplan/checkpoints/
*.pth
*.pt
*.ckpt
*.safetensors

data/
nuplan/data/
nuplan/assets/pointcloud/
*.pkl
*.npy
*.npz

outputs/
nuplan/outputs/
wandb/
logs/
